@import "generic/reset";
@import "generic/normalize";

@import "settings/colors";
@import "settings/typography";

@import "components/main";
@import "components/loading";
@import "components/datapicker";
@import "components/icons";
@import "components/text";
@import "components/forms";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
