.form {
  position: relative;
  z-index: 1;

  &--login {
    padding: 0 27px;
    margin-top: 40px;

    .icon-lock {
      margin-top: 2px;
    }

    .icon-email {
      margin-top: 5px;
    }

    .form-field {
      padding-left: 2px;
    }
  }

  &--user {
    padding: 0 20px;
    margin-top: 20px;

    .form-field {
      padding: 10px 0;
    }

    .form__submit {
      margin: 30px auto;
    }
  }

  &__submit {
    height: 32px;
    width: 147px;
    left: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 84px auto 0 auto;
    display: block;
    position: relative;
    overflow: hidden;

    .text {
      font-weight: 400;
      color: $inverse-color;
      position: relative;
      z-index: 2;
    }

    &:before {
      content: '';
      z-index: 1;
      left: -5px;
      top: 0;
      width: calc(100% + 10px);
      background: $accent-color;
      height: 100%;
      position: absolute;
      transform: skewX(-42deg);
    }
  }
}

.form-field {
  position: relative;
  display: flex;
  padding: 15px 0;

  &__input {
    width: 100%;
    height: 25px;
    background: transparent;
    border: none;
    color: $secondary-color;
    border-bottom: 1px solid $secondary-color;
    font-family: $secondary-font;
    font-weight: 300;

    &:focus {
      outline: none;
    }

    &:focus::placeholder {
      color: $secondary-color;
    }
  }

  &__icon {
    width: 30px;
  }

  &__error-msg {
    position: absolute;
    bottom: -5px;
    color: #a51111;
    font-size: 12px;

    &--main-error {
      font-size: 16px;
      text-align: center;
      width: 100%;
      text-transform: capitalize;
    }
  }

  &__select {
    width: 100%;
    background: transparent;
    height: 28px;
    border: 1px solid #d4d4d4;
    color: #d4d4d4;
  }

  &--birthdate {
    z-index: 3;

    .react-datepicker__input-container input {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.user-form {
  width: 300px;
  height: 525px;
  background: transparent;
  position: relative;
  overflow: hidden;
  margin: 30px auto 0 auto;

  &:before {
    content: '';
    left: -75%;
    top: 0;
    width: 250%;
    background: #212121;
    height: 100%;
    position: absolute;
    transform: skewX(-42deg);
  }

  .btn-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
