.icon-close {
  background-size: contain;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../../icons/close.svg");
}

.icon-search {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("../../icons/search.svg");
}

.icon-logout {
  display: block;
  width: 31px;
  height: 31px;
  background-image: url("../../icons/logout.svg");
}

.icon-trash {
  display: block;
  height: 17px;
  width: 16px;
  background-image: url("../../icons/trash.svg");
}

.icon-plus {
  display: block;
  height: 115px;
  width: 115px;
  background-image: url("../../icons/plus.svg");
}

.icon-email-bg {
  height: 26px;
  width: 29px;
  background-repeat: no-repeat;
  display: block;
  background-image: url("../../icons/main-bg.svg");
}

.icon-email {
  display: block;
  height: 13px;
  width: 16px;
  background-image: url("../../icons/mail.svg");
}

.icon-user {
  display: block;
  height: 31px;
  width: 31px;
  background-image: url("../../icons/user-profile.svg");
}

.icon-lock {
  display: block;
  height: 16px;
  width: 14px;
  background-image: url("../../icons/lock.svg");
}

.icon-arrow {
  display: block;
  height: 31px;
  width: 31px;
  background-image: url("../../icons/arrow-right.svg");
}
