.loading-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 1;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    animation: loading-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border: 8px solid #fff;
    border-color: #fff transparent transparent transparent;
  }

  &--sm {
    width: 28px;
    height: 28px;

    div {
      width: 20px;
      height: 20px;
      margin: 5px;
      border: 2px solid #fff;
      border-color: #fff transparent transparent transparent;
    }
  }
}

.loading-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
