body {
  background-color: $page-bg-color;
}

.container {
  background: $panel-bg-color;
  width: 314px;
  height: 470px;
  margin: 0 auto;
  position: relative;

  &--decor {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      right: -20px;
      top: -2px;
      width: 15px;
      height: 15px;
      background-image: url("../../icons/corner-decor.svg");
      z-index: 1;
    }

    &:after {
      content: '';
      position: absolute;
      left: -19px;
      bottom: -4px;
      width: 15px;
      height: 15px;
      transform: rotate(180deg);
      background-image: url("../../icons/corner-decor.svg");
    }
  }

  &--login {
    transform: translateY(100px);
    padding-top: 26px;

    .logo {
      margin: 0 auto;
    }
  }

  &__edge-left {
    position: absolute;
    width: 15px;
    height: 100%;
    left: -15px;
    top: 0;

    &:before {
      content: '';
      display: block;
      width: 0;
      right: 0;
      top: 0;
      border-top: 15px solid transparent;
      border-right: 15px solid $panel-bg-color;
    }

    &:after {
      content: '';
      background-color: $panel-bg-color;
      position: absolute;
      top: 15px;
      left: 0;
      bottom: 0;
      width: 15px;
    }
  }

  &__edge-right {
    position: absolute;
    width: 15px;
    height: 100%;
    right: -15px;
    top: 0;

    &:before {
      content: '';
      background-color: $panel-bg-color;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 15px;
      width: 15px;
    }

    &:after {
      content: '';
      bottom: 0;
      right: 0;
      border-bottom: 15px solid transparent;
      border-left: 15px solid $panel-bg-color;
      width: 0;
      display: block;
      position: absolute;
    }
  }

  .header-2 {
    margin-bottom: 23px;
  }
}

.logo {
  position: relative;
  width: 226px;
  height: 47px;
  background-image: url("../../icons/logo.svg");
  z-index: 1;
}

.top-bar {
  width: 100%;
  height: 80px;
  background-color: $panel-bg-color;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: -136px;
    width: 240px;
    height: 100%;
    background-color: #363636;
    transform: skewX(-17deg);
  }

  &:before {
    content: '';
    top: 0;
    left: -19px;
    width: 240px;
    height: 100%;
    position: absolute;
    background-color: $top-bar-decor-color;
    transform: skewX(25deg);
  }

  .logo {
    margin-top: 16px;
    margin-left: -15px;
  }
}

.side-bar {
  background-color: $side-bg-color;
  width: 69px;
  position: absolute;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  &__open {
    position: absolute;
    top: 21px;
    right: -17px;
    width: 32px;
    height: 32px;
    z-index: 2;
  }

  .btn-logout {
    position: relative;
    justify-content: center;
    display: flex;
    padding: 13px 0 18px 0;

    &:before {
      content: '';
      position: absolute;
      width: 34px;
      left: 15px;
      right: 20px;
      height: 1px;
      top: -1px;
      background-color: #353638;
    }
  }
}

.menu {
  display: block;
  height: 150px;

  .btn-menu {
    height: 66px;
    width: 100%;
    position: absolute;
    background: rgba(0, 255, 196, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
    border-left: 2px solid #00FFC4;
  }
}

.btn-icon {
  cursor: pointer;
  display: block;
  background: transparent;
  border: none;
  transition: opacity 0.2s ease-in-out;

  &:hover, &:focus {
    opacity: 0.8;
    outline: none;
  }
}

.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: calc(100vh - 216px);
}

.main-container {
  position: relative;
  height: calc(100vh - 80px);
  margin-left: 68px;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;

  .search-input {
    position: absolute;
    top: 48px;
    right: 32px;
  }

  .btn-add-user {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .header-1 {
    text-align: center;
  }
}

.user-card {
  margin: 0 25px 30px 25px;
  padding: 23px 20px 0 23px;
  width: 234px;
  height: 344px;
  background: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:before {
    content: '';
    left: -56%;
    top: 0;
    width: 212%;
    background: #212121;
    height: 100%;
    position: absolute;
    transform: skewX(-42deg);
  }

  &__avatar img {
    position: relative;
    z-index: 1;
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
  }

  &__title {
    margin-top: 15px;
    position: relative;
    border-top: 1px solid #353638;
    border-bottom: 1px solid #353638;
    padding-top: 1px;
    padding-bottom: 1px;
    z-index: 1;

    & .header-3, .text {
      text-align: left;
    }
  }

  &__info {
    padding-top: 6px;
    position: relative;
    z-index: 1;

    .text {
      margin-top: 18px;
      text-align: left;
    }
  }

  &__controls {
    position: absolute;
    padding-left: 8px;
    height: 54px;
    right: 25px;
    left: 18px;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #353638;
    z-index: 1;

    .text {
      margin-left: 3px;
      margin-top: -5px;
      text-decoration: underline;
    }

    .btn-icon {
      position: absolute;
      right: 0;
      top: 17px;
    }
  }
}

.search-input {
  width: 251px;
  height: 34px;
  background-color: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 11px;

  &__decor-bg {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    overflow: hidden;

    &:before {
      content: '';
      left: -7px;
      top: 0;
      right: -6px;
      height: 100%;
      background-color: #202020;
      position: absolute;
      transform: skewX(-40deg);
    }
  }

  &__decor-corners {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;

    &:before {
      content: '';
      position: absolute;
      right: -4px;
      top: -5px;
      width: 15px;
      height: 15px;
      background-image: url("../../icons/corner-decor.svg");
      z-index: 1;
    }

    &:after {
      content: '';
      position: absolute;
      left: -5px;
      bottom: -5px;
      width: 15px;
      height: 15px;
      transform: rotate(180deg);
      background-image: url("../../icons/corner-decor.svg");
      z-index: 1;
    }
  }

  &__input {
    background: transparent;
    border: none;
    position: relative;
    z-index: 1;
    margin-left: 7px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.2px;
    color: #ffffff;

    &:focus {
      outline: none;
    }
  }

  .icon-search {
    position: relative;
    z-index: 1;
  }
}

.overlay {
  background: transparent;
  opacity: 0;
  height: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
  position: absolute;
  cursor: pointer;
  overflow: hidden;

  .user-form {
    transition: transform 0.2s ease-in-out 0.2s;
    transform: translateY(200px);
  }

  &--show {
    z-index: 2;
    opacity: 1;
    background: rgba(0,0,0,0.6);

    .user-form {
      transform: translateY(100px);
    }
  }
}

.header {
  padding-top: 35px;
  height: 100px;
}
