.header-1 {
  font-family: $primary-font;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0;
  text-align: left;
  color: $primary-color;
}

.header-2 {
  font-family: $primary-font;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: $primary-color;
}

.header-3 {
  font-family: $primary-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  color: $primary-color;
}

.text {
  font-family: $secondary-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  text-align: center;
  color: $primary-color;
}
