$primary-color: #ffffff;
$secondary-color: #D4D4D4;
$tertiary-color: #B1B1B1;

$accent-color: #00FFC4;
$inverse-color: #000;


$page-bg-color: #565759;
$panel-bg-color: #202020;
$side-bg-color: #0F0F0F;

$top-bar-decor-color: #363636;

