@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$primary-font: 'Jura', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$base-font-size: 16px;
$base-line-height:  24px;

$primary-font-color: $primary-color;
$secondary-font-color: $accent-color;
